{{> header}}
<main>
  <h1>Welcome to the Healthy Lifestyle App!</h1>
  <p>
    A platform to help you track and manage your personal goals related to nutrition, fitness, and a healthy lifestyle.
  </p>
  <p>
    <a href="/about">Learn more about us</a> or
    <a href="/users/register">Register now</a> to start your journey!
  </p>
</main>
{{> footer}}